<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Kill Line</vendor>
  <action id="org.killline.dashboard">
    <description>Start the Kill Line monitoring backend</description>
    <message>Kill Line needs administrator permission to load its kernel sensor (eBPF) and watch AI agents on this computer.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/killline</annotate>
  </action>
</policyconfig>
